#footer {
  background-color: black;
  position: absolute;
  color: white;
  padding-top: 10px;
  text-align: center;

  width: 100%;
  margin-top: 150px !important;
}
body {
  background: linear-gradient(180deg, 
    #2e2e2e, /* Dark Gray */
    #232323, /* Slightly Darker */
    #1a1a1a, /* Almost Black */
    #0d0d0d, /* Deep Black */
    #000000  /* Pure Black */
  );
  background-size: 800% 800%; /* Increased for a more dynamic effect */
  animation: gradientMove 15s infinite ease-in-out; /* Slower, smoother transition */
  color: white;
  margin: 0;
  padding: 0;
}


.tv-show-backdrop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tv-show-backdrop i {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.8);
}


@keyframes gradientMove {
  0% { background-position: 0% 0%; }
  25% { background-position: 25% 75%; }
  50% { background-position: 50% 50%; }
  75% { background-position: 75% 25%; }
  100% { background-position: 100% 100%; }
}
